<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Cliente</title>
</head>
<body>
    <h1>Adicionar Cliente</h1>
    <form action="/add" method="POST">
        <table border="0">
            <tr>
                <td>nome</td>
                <td><input type="text" name="nome" placeholder="Nome" size="40"></td>
            </tr>
            <tr>
                <td>Comentário</td>
                <td><input type="text" placeholder="Comentário" name="comentario" size="40"></td>
            </tr> 
            <tr>
                <th colspan="2"><button type="submit">Salvar</button></th> 
            </tr>
        </table>     
    </form>
</body>
</html>